.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.books-wrapper {
  float: left;
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.card {
  width: 225px;
  margin: 25px;
<<<<<<< HEAD
  height: fit-content;
=======
<<<<<<< HEAD
  height: 550px;
=======
  height: 500px;
>>>>>>> 88af4b80dd7f16a6b7b950afae75224207f3f255
>>>>>>> cd60d03d32e0c623a36f1bb282812423ff7d1117
}

.allbooks {
  width: 225px;
  margin: 25px;
  height: 350px;
}