.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.books-wrapper {
  float: left;
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 225px;
  margin: 25px;
  height: 580px;
}

.allbooks {
  width: 225px;
  margin: 25px;
  height: 350px;
  border: 7px solid rgb(70, 69, 69) !important;
}
.bookish-logo {
  font-family: "Abril Fatface";
  font-size: 50px !important;
}

.bookish-navbar {
  margin-bottom: 2%;
}
.navbar-links {
  margin-left: 75%;
}
body {
  background-color: lightgray !important;
}
.search-bar {
  border: 5px solid rgb(70, 69, 69) !important;
  border-radius: 20px;
  padding: 2px 200px;
  outline: none;
  box-shadow: 5px 5px #888888;
  margin-bottom: 2%;
}
@media (max-width: 900px) {
    .carousel {
      width: auto;
      height: auto;
   
    }
}
